body {  margin: 0 auto;
background-color: #000;
  }
  

#content {
  
  height: 800px;
  background-color: blue;
   margin: 0 auto;
   background-image:url(data/bggradient.png);
   background-repeat:repeat;}
  
#header {text-align:center;
color:red;}

#gameContainer {
  width:600px;
  height:600px;
  margin: 0 auto;
}

#logo{padding: 20px;}

canvas{border-radius:15px;
margin:0 auto;}